{
    "database": {
        "mongo_prefix": "mongodb",
        "host": "mongo",
        "port": 27017,
        "mongo_prefix_cloud": "mongodb+srv",
        "host_cloud": "nexteldocs:nexteldocs@nexteldocs-duwlp.mongodb.net/test?retryWrites=true&w=majority",
        "db": "apidocs"
    },
    "pagination": {
        "max_per_page": 10
    }
}