{
    "database": {
        "db": "apidocs",
        "profile": "cloud",
        "local": {
            "mongo_prefix": "mongodb",
            "host": "localhost",
            "port": "27017"
        },
        "docker": {
            "mongo_prefix": "mongodb",
            "host": "mongo",
            "port": "27017"
        },
        "cloud": {
            "mongo_prefix": "mongodb+srv",
            "host": "nexteldocs:nexteldocs@nexteldocs-duwlp.mongodb.net/test?retryWrites=true&w=majority",
            "port": ""
        }
    },
    "pagination": {
        "max_per_page": 10
    }
}